<form [formGroup]="feedBackForm" (submit)="sendFeedBack()">
    <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Введите email"
               [ngClass]="{'is-invalid': feedBackForm.get('email').invalid && feedBackForm.get('email').touched}">
        <div class="invalid-feedback" *ngIf="feedBackForm.get('email').invalid && feedBackForm.get('email').touched">
            <span *ngIf="feedBackForm.get('email')['errors']['required']">Поле обязательно для заполнения</span>
            <span *ngIf="feedBackForm.get('email')['errors']['email']">Введите валидный email</span>
        </div>
    </div>
    <div class="form-group">
        <label>Сообщение</label>
        <textarea formControlName="message" class="form-control" rows="3"
                  [ngClass]="{'is-invalid': feedBackForm.get('message').invalid && feedBackForm.get('message').touched}"></textarea>
        <div class="invalid-feedback" *ngIf="feedBackForm.get('message').invalid && feedBackForm.get('message').touched">
            <span *ngIf="feedBackForm.get('message')['errors']['required']">Поле обязательно для заполнения</span>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="feedBackForm.invalid">Отправить</button>
</form>