

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>


        <div class="col-4">
            <app-sitebar></app-sitebar>
        </div>

        <div class="col-8">
            <router-outlet></router-outlet>
        </div>


        <div class="col-12">
            <app-footer></app-footer>
        </div>

    </div>
</div>


