<form>
  <div class="form-group">
    <label>Search</label>
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>